sudo: required
language: node_js
node_js:
  - "5.0"
cache:
  directories:
  - node_modules
services:
  - docker
before_install:
  - npm install -g grunt-cli
script:
  - npm test
  - touch .env
  - docker-compose build
