<html>
  <head>
    <title>JSONP</title>
    <style type="text/css">
      body {
        font-family: sans-serif;
      }
      .urlEntry span {
        position: relative;
      }
      .urlEntry label {
        position: absolute;
        top: 0;
        left: 0.5em;
      }
      .urlEntry input {
        padding: 0.5em;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="jquery.infieldlabel.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function(){
        $('.urlEntry label').inFieldLabels();
      });
    </script>
  </head>
  <body>
    <h1>JSONP</h1>
    <p>
      Enables cross-domain requests to any JSON API
    </p>
    <h2>Easy: JSONP</h2>
    <script src="https://gist.github.com/2664597.js?file=jsonp.html"></script>
    <form class="urlEntry" action="" method="get">
      http://<%= host %>/?url=<span><label for="url">API URL</label><input type="text" name="url"/></span>&amp;callback=<span><label for="callback">functionName</label><input type="text" name="callback"/></span>
      <input type="submit" value="Go"/>
    </form>
    <h2><em>Easier:</em> Cross-domain AJAX</h2>
    <script src="https://gist.github.com/2664597.js?file=ajax.html"></script>
    <form class="urlEntry" action="" method="get">
      http://<%= host %>/?url=<span><label for="url">API URL</label><input type="text" name="url"/></span>
      <input type="submit" value="Go"/>
    </form>
  </body>
</html>
