body {
  padding: 2em 3em;
  font-family: Helvetica, sans-serif;
}
p {
  max-width: 650px;
}
.finePrint {
  font-size: 0.8em;
}
.gist {
  margin-bottom: 1em;
}
.urlEntry {
  display: inline-block;
  padding: 5px 10px;
  background-color: #C9C9C9;
  border: 1px solid #818181;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.urlEntry span {
  position: relative;
}
.urlEntry label {
  position: absolute;
  top: 0;
  left: 0.5em;
}
.urlEntry input {
  padding: 0.5em;
}
#footer {
  margin-top: 5em;
  padding: 1em;
  text-align: center;
  border-top: 1px solid #666;
}
