body {
  padding: 2em 3em;
  font-family: Helvetica, sans-serif;
}
h1 {
  display: inline;
  margin-right: 10px;
}
h2 {
  margin-top: 1.5em;
}
#wrapper {
  max-width: 650px;
  margin: auto;
}
hr {
  margin-top: 2.5em;
}
p code {
  padding: 0.04em 0.35em;
  background-color: #EAEAEA;
  border: 1px solid #C2C2C2;
}
#subtitle {
  font-size: 1.2em;
  font-weight: bold;
}
.finePrint {
  font-size: 0.8em;
}

pre {
  font-size: 1.2em;
  border: 1px solid #ddd;
  border-radius: 5px;
}
pre:hover {
  width: 135%;
}

.urlEntry {
  display: inline-block;
  padding: 5px 10px;
  background-color: #C9C9C9;
  border: 1px solid #818181;
  border-radius: 5px;
}
.urlEntry input {
  padding: 0.5em;
}
footer {
  text-align: center;
  font-family: monospace;
}
